.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.center-text{
  text-align: center;
}

.filters {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 200px;
}

table.mat-table {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

button.mat-icon-button {
  color: #3f51b5;
}

button.mat-icon-button[color="warn"] {
  color: #f44336;
}



