<div class="container mt-4">

  <h2 class="mb-3">Task Lists</h2> 
 <div class="filters mb-4 d-flex justify-content-between align-items-center flex-wrap gap-3">

  <div class="d-flex gap-3 align-items-center flex-wrap">
    <mat-form-field appearance="fill">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="priorityFilter" (selectionChange)="updatePriorityFilter($event.value)">
        <mat-option value="">All</mat-option>
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input matInput type="date" [ngModel]="dueDateFilter()" (ngModelChange)="updateDueDateFilter($event)">
    </mat-form-field>
  </div>
</div>
<table mat-table [dataSource]="filteredTasks()" class="mat-elevation-z8 full-width-table">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let task"> {{task.title}} </td>
    </ng-container>
   
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let task"> {{task.description}} </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let task"> {{task.dueDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Priority </th>
      <td mat-cell *matCellDef="let task"> {{task.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="center-text"> Actions </th>
      <td mat-cell *matCellDef="let task" class="center-text">
        <button mat-icon-button color="primary" data-testid="edit_icon" [routerLink]="['/home/edit', task.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" data-testid="delete_icon" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
        
      </td>
    </ng-container>

  <ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
  <td mat-cell *matCellDef="let task">
    <mat-icon *ngIf="task.completed" style="color:green;">check_circle</mat-icon>
    <mat-icon *ngIf="!task.completed" style="color: gray; cursor:pointer;" (click) = "markAsCompleted(task)">radio_button_unchecked</mat-icon>
  </td>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="['title', 'description', 'dueDate', 'priority', 'actions', 'status']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title', 'description', 'dueDate', 'priority', 'actions', 'status'];"></tr>

  </table>

  <p *ngIf="filteredTasks().length === 0" class="mt-4 text-muted">No tasks found.</p>

</div>

